@font-face {
    font-family: "microsoft yi baiti";
    src: url('../font/msyi.ttf');
}

body {
    font-family: "microsoft yi baiti";
}

header {
    background-image: url('../img/squirrel-4515962_1920.jpg');
    background-position: center;
    background-size: 100vw auto;
    height: 100vh;
}

#branding {
    font-size: 3rem;
}

a {
    color: white;
    transition: 300ms color;
}

a:hover {
    color:rgb(100, 100, 100);
    text-decoration: none;
}

#nav {
    font-size: 1.5rem;
}

#save {
    color: white;
    font-size: 4rem;
    text-align: center;
    margin-top: 20vh;
}

header p {
    font-size: 1.5rem;
    text-align: center;
    color: white;
}

section {
    font-size: 1.5rem;
}

section img {
    width: 400px;
}

#now {
    background-image: url('../img/fire-4531325_1920.jpg');
    background-position: center;
    background-size: 100vw auto;
    height: 100vh;
    color: white;
    font-size: 3.5rem;
}

footer {
    height: 20vh;
    background-color: rgb(44, 44, 44);
    color: white;
    font-size: 2rem;
}

@media(max-width: 425px) {
    #save {
        font-size: 2.5rem;
    }

    header p {
        display: none;
    }

    section img {
        width: 100%;
    }
}

@media(max-width: 768px) {
    header {
        background-size: auto;
    }
    
    #now {
        background-size: auto;
    }
}